:root {
  --purple: #461c3a;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  /* background-color: orange; */
}

nav {
  border-bottom: solid 1px black;
  background-color: #dc2626;
  color: white;
  height: 6vh;
  position: sticky;
  top: 0;
  z-index: 2;
  display: grid;
  padding-bottom: 10px;
}

ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

li {
  display: grid;
  justify-self: center;
  background-color: black;
  align-items: center;
  padding: 10px;
}

li:hover {
  background-color: orange;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.home {
  grid-column: 1/4;
  justify-self: start;
}

.icon {
  width: 25px;
  height: 25px;
  padding-right: 15px;
}

.git-icon {
  padding-top: 20px;
}

.first-section {
  display: flex;
  height: 93vh;
}

.about-me {
  background-color: black;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  padding: 25px;
  width: 50%;
}

.about-me:hover {
  background-color: #1e40af;
  color: white;
}

.about-me:hover .tooltip {
  background-color: #dc2626;
  color: white;
}

aside {
  display: flex;
  background-color: orange;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  justify-content: center;
  width: 50%;
}

aside:hover {
  background-color: #15803d;
  color: white;
}

.tooltip {
  color: white;
  width: 66px;
  height: 33px;
  text-align: center;
  padding: 15px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    65% 75%,
    50% 100%,
    40% 75%,
    0 75%
  );
  margin-left: 20px;
  background-color: orange;
  /* animation: change-color 2s infinite alternate, move 2s ease-in-out; */
}

.me {
  margin-bottom: 200px;
  margin-top: 100px;
  padding-left: 120px;
}

.about {
  margin-top: 100px;
}

.icons {
  display: grid;
  align-items: center;
  padding-left: 50px;
}

.linkedin-icon {
  display: grid;
  align-self: end;
}

.git-icon {
  display: grid;
  align-self: start;
}

.second-section {
  display: grid;
  background-color: orange;
  padding: 25px;
  padding-top: 150px;
}

.projects-img-right {
  box-shadow: 60px -20px black;
}

.projects-img-left {
  box-shadow: -60px -20px black;
}

.projects {
  display: flex;
  padding: 25px;
  padding-bottom: 125px;
  border-bottom: solid 1px black;
}

.projects-info {
  text-align: center;
  align-self: start;
}

h4 {
  text-align: center;
  display: grid;
  align-self: end;
}

.text-projects {
  display: grid;
  align-items: center;
  padding: 25px;
}

.git-live {
  display: flex;
  justify-content: center;
}

.buttons-gl {
  background-color: white;
  border: solid 1px black;
  margin: 15px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  width: 60px;
  height: 20px;
  text-align: center;
  padding: 7px;
  color: black;
}

.buttons-gl:hover {
  background-color: black;
  color: white;
  border: solid 1px var(--purple);
  cursor: pointer;
}

.contact {
  background-color: white;
  display: grid;
  justify-content: center;
}

.lines {
  width: 100%;
  border-bottom: solid 1px black;
}

.contact-title {
  display: flex;
  justify-content: center;
}

.contact-title-text {
  font-size: 4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
}

.contact-info {
  display: flex;
  align-items: center;
}

.see-all {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 3rem;
  border-bottom: solid 1px black;
  cursor: pointer;
  background-color: white;
  padding: 10px;
}

.see-all:hover {
  background-color: #dc2626;
  color: white;
}

.info {
  padding-bottom: 100px;
  display: grid;
  justify-content: center;
  font-size: 1.2rem;
}

.stack {
  width: 75px;
  height: 75px;
  margin: 15px;
}

.colors {
  background-color: orange;
}

.text-projects-left {
  transform: translateX(-600px);
  opacity: 0;
  transition: 1.5s ease-in-out all;
}

.img-projects-rigt {
  transform: translateX(600px);
  opacity: 0;
  transition: 1.5s ease-in-out all;
}

.movement {
  transform: translateX(0px);
  opacity: 1;
}

.movementt {
  transform: translateX(0px);
  opacity: 1;
}

@keyframes move {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-1rad);
  }
  100% {
    transform: rotate(0);
  }
}
